numpy==1.20.2

--find-links https://download.pytorch.org/whl/cu110/torch_stable.html
torchvision==0.8.1

###### tested version
## torch==1.4.0
## torchvision==0.5.0
###### update to test
# torch==1.11.0
# torchvision==0.12.0
######

imageio
scikit-image
opencv-python
